.Header {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 60px;
	background: #141414;
	color: #ffffff;
	display: flex;
}

.Header__container {
	width: 100%;
	margin: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Header__hamburger {
	margin-right: 15px;
	height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.Header__hamburger .line {
	width: 13px;
	height: 1.5px;
	background-color: white;
}

.Header__logoContainer {
	display: flex;
	align-items: center;
}
.Header__logo {
	display: flex;
	align-items: center;
	width: 120px;
	height: 50px;
	cursor: pointer;
}
.Header__logo img {
	width: 100%;
	height: 100%;
}

.Header__NavLinks {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.Header__NavLinks span {
	opacity: .3;
}

.nav-link {
	font-size: 12px;
	margin-right: 15px;
	margin-left: 15px;
	color: whitesmoke;
}
.nav-link:hover {
	color: gray;
}

.Header__search {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.Header__search .searchBar {
	margin-right: 20px;
}

.search-container {
	opacity: 0;
	z-index: -1;
	position: absolute;
	transform: translateX(-213px) translateY(-10px) scale(.5);
	transition: .3s;
	top: 3px;
}
.search-open {
	opacity: 1;
	transform: translateX(-320px) scale(1);
	z-index: 1;
}

.textbox {
	width: 310px;
	height: 53px;
	background: #616161;
	border: none;
	outline: none;
	font-size: 20px;
	color: #b1a9a9;
}
.textbox::placeholder {
	color: #968989;
}
@media (max-width: 1025px) {
	.Header__container {
		width: 100% !important;
	}
}
@media (max-width: 769px) {
	.Header__NavLinks {
		display: none;
	}
	.Header__container {
		width: 100%;
	}
	.Header {
		width: 100% !important;
	}
}
@media (max-width: 500px) {
	.search-open {
		transform: translateX(-200px) scale(1);
	}
	.textbox {
		width: 200px;
	}

	.Header__logo img {
		width: 105px;
	}

	.landingImage {
		height: 400px !important;
	}

	.info-container {
		width: 95% !important;
		margin: 5px 17px !important;
	}

	.para-heading {
		width: 100%;
		margin-bottom: 10px !important;
	}
	.para {
		width: 100% !important;
	}
	.para p {
		font-size: 17px !important;
		line-height: 25px !important;
	}
}
